*{
    margin:0px;
    padding:0px;
    font: normal 400 22px 'Spoqa Han Sans Neo';
    gap:0px;
}

#mainwrapper{
    display:flex;
}
body{
    width:1920px;
    height:1019px;
    background:#EBEDEE
}
#Menu{
    display:inline-block;
    width:341px;
    height:1019px;
    background: #313C52;
    color:#E7E9EC;
    align-items: center;
}
#Menu span{
    display:flex;
    align-items: center;
}
#Menu img{
    margin-top:22px;
}
#Menu-title{
    display:flex;
    width:184px;
    height:28px;
    align-items: center;
    letter-spacing: -0.03em;
    padding:36px 127px 36px 30px;
}
#Menu-dashboard{
    display:flex;
    height:68px;
    gap:47px;
    padding-left:30px;
}
#Menu-wish{
    display:flex;
    height:68px;
    gap:29.67px;
    padding-left:30px
}
#Menu-control{
    display:flex;
    height:68px;
    gap:38px;
    padding-left:30px
}
#Menu-comment-report{
    display:flex;
    height:68px;
    gap:38px;
    padding-left:30px
}
#Menu-post-report{
    display:flex;
    height:68px;
    gap:31px;
    padding-left:30px;
    background:#49546A;
}
#section{
    width:100%;
    display:flex;
    flex-direction: column;
}
#Top{
    display:flex;
    box-sizing:border-box;
    align-items:center;
    padding-left:36px;
    display:flex;
    background:#FFFFFF;
    width:100%;
    height:86px;
    gap:30px;
}
#Top-second{
    display:flex;
    box-sizing:border-box;
    height:66px;
    width:100%;
    border-width:1px 0px;
    background:#FFFFFF;
    border-style:solid;
    border-color:#D9DBDF;
    gap:10px;
    align-items: center;
}
#home{
    color:#2F20D2;
    padding-left:34px;
}
#Main{
    margin:30px 58px 8px 38px;
    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}
#Main-Table{
    padding:30px 27px 99px 27px;
}
#Main-Table table{
    background: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DFDFE1;
    border-collapse:collapse;
    text-align:center;
}
#Table tbody{
    font-size: 20px;
    letter-spacing: -0.05em;
    color: #394252;
}
#Main-Table td, #Main-Table th{
    border: 1px solid #DFDFE1;
    letter-spacing: -0.05em;
}
#Main-Table th{
    height:88px;
    font-weight:500;
}
#Main-Table td{
    height:85px;
    font-weight:400;
}
.Number{
    width: 94px;
}
.ID,.Nickname{
    width: 260px;
}
.Postlink{
    width: 360px;
}
.Ban-reason{
    width: 200px;
}
.Ban-durate{
    width: 155px;
}
.Ban-durate input[type=date]{
    width:26px;
}
.Button{
    Width:105px;
}
#white{
    width: 70px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #26409A;
    border-radius: 5px;
    color: #26409A;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    padding-top:2px;
    margin-left:17px;
}
#black{
    width: 70px;
    height: 31px;
    background: #000000;;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    padding-top:2px;
    margin-top :2px;
    margin-left:17px;
}

