*{
    margin:0px;
    padding:0px;
    font: normal 400 22px 'Spoqa Han Sans Neo';
    gap:0px;
}

#mainwrapper{
    display:flex;
}
body{
    width:1920px;
    height:1019px;
    background:#EBEDEE
}
#Menu{
    display:inline-block;
    width:341px;
    height:1019px;
    background: #313C52;
    color:#E7E9EC;
    align-items: center;
}
#Menu span{
    display:flex;
    align-items: center;
}
#Menu img{
    margin-top:22px;
}
#Menu-title{
    display:flex;
    width:184px;
    height:28px;
    align-items: center;
    letter-spacing: -0.03em;
    padding:36px 127px 36px 30px;
}
#Menu-dashboard{
    display:flex;
    height:68px;
    gap:47px;
    padding-left:30px;
}
#Menu-wish{
    display:flex;
    height:68px;
    gap:29.67px;
    padding-left:30px;
    background:#49546A;
}
#Menu-control{
    display:flex;
    height:68px;
    gap:38px;
    padding-left:30px
}
#Menu-comment-report{
    display:flex;
    height:68px;
    gap:38px;
    padding-left:30px
}
#Menu-post-report{
    display:flex;
    height:68px;
    gap:31px;
    padding-left:30px;
}
#section{
    width:100%;
    display:flex;
    flex-direction: column;
}
#Top{
    display:flex;
    box-sizing:border-box;
    align-items:center;
    padding-left:36px;
    display:flex;
    background:#FFFFFF;
    width:100%;
    height:86px;
    gap:30px;
}
#Top-second{
    display:flex;
    box-sizing:border-box;
    height:66px;
    width:100%;
    border-width:1px 0px;
    background:#FFFFFF;
    border-style:solid;
    border-color:#D9DBDF;
    gap:10px;
    align-items: center;
}
#home{
    color:#2F20D2;
    padding-left:34px;
}
#Search{
    display:flex;
    flex-direction: column;
    padding: 30px 50px 0px 37px;
}
#Search-input{
    display:flex;
    box-sizing:border-box;
    width:1483px;
    height:208px;
    background:#FFFFFF;
    border-width:2px 2px 0px 2px;
    border-style:solid;
    border-color:#DFDFE1;
    border-radius: 10px 10px 0px 0px;
    flex-direction: column;
}
#Search-input-top{
    display:flex;
    align-items: center;
    padding-top:38px;
    padding-left:30px;
}
#Search-input > div{
    display:flex;
}

#input-button{
    display:flex;
    gap:15px;
    align-items:center;
    padding-left:123px;
}
#input-button div{
    box-sizing:border-box;
    width:86px;
    height:52px;
    background:#2F20D2;
    border-radius: 10px;
    font-size: 22px;
    line-height: 28px;
    align-items: center;
    letter-spacing: -0.03em;
    color:white;
    text-align: center;   
    padding:12px 0px 0px 0px; 
}
#date-button{
    padding-left:40px;
}
#date-button input[type=date]{
    background: #FFFFFF;
    border: 1px solid #B2B7C1;
    border-radius: 10px;
    width: 217px;
    height: 50px;   
    padding-left:18px;
    box-sizing:border-box;
}
#Search-input-bottom {
    padding-top:30px;
    padding-left:30px;
    padding-bottom:39px;
    gap:80px;
    display:flex;
    align-items: center;
}
#Search-input-bottom input[type=text]{
    box-sizing:border-box;
    background: #FFFFFF;
    border: 1px solid #B2B7C1;
    border-radius: 10px;
    width: 1264px;
    height: 51px;
}
#Search-button{
    box-sizing:border-box;
    display:flex;
    width:1483px;
    height:74px;
    background: #F7F8F8;
    border: 2px solid #DFDFE1;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    padding-left:1240px;
    gap:20px;
}
#yellow{
    background: #F7F8F8;
    border: 2px solid #EEB442;
    border-radius: 10px;
    display: flex;
    letter-spacing: -0.03em;
    color: #EEB442;
    box-sizing: border-box;
    align-items: center;
    width: 90px;
    height: 52px;
    padding-left:13px;
}
#blue{
    background: #F7F8F8;
    border: 2px solid #2F20D3;
    border-radius: 10px;
    display: flex;
    letter-spacing: -0.03em;
    color: #2F20D3;
    box-sizing: border-box;
    align-items: center;
    width: 73px;
    height: 52px;
    padding-left:13px;
}
#Main{
    margin:30px 58px 8px 38px;
    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}
#Main-Table{
    padding:30px 27px 99px 27px;
}
#Main-Table table{
    background: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DFDFE1;
    border-collapse:collapse;
}
#Table tbody{
    font-size: 20px;
    letter-spacing: -0.05em;
    color: #394252;
}
#Main-Table td, #Main-Table th{
    border: 1px solid #DFDFE1;
    letter-spacing: -0.05em;
}
#Main-Table th{
    height:88px;
    font-weight:500;
}
#Main-Table td{
    font-size:20px;
}
.CAT{
    width:247px;
    height:100px;
    text-align: center;
}
.TIT{
    width:551px;
    height:100px;
    text-align: center;
}
.PEO{
    width:227px;
    height:100px;
    text-align: center;
}
.DAT{
    width:220px;
    height:100px;
    text-align: center;
}
.AUT{
    width:184px;
    height:100px;
    text-align: center;
}
#white{
    width: 90px;
height: 39px;
background: #FFFFFF;
border: 1px solid #26409A;
border-radius: 5px;
color: #26409A;
font-size: 18px;
text-align: center;
margin-left:47px;
box-sizing: border-box;
padding-top:4px;
}
#black{
    width: 90px;
height: 39px;
background: #000000;;
border: 1px solid #000000;
border-radius: 5px;
color: #FFFFFF;
font-size: 18px;
text-align: center;
margin-left:47px;
box-sizing: border-box;
padding-top:4px;
margin-top :2px;
}
